body {
    text-align: center;
    background-color: grey;
}
button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: Black;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  width: 150px;
  margin: 20px;
}

button:hover {background-color: #C0C0C0}

button:active {
  background-color: Black;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
